@import "../variables.scss";

section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.header__text-wrapper {
  @include sm {
    width: 90%;
    margin-left: 7.5%;
    margin-top: -10%;
  }
  @include xl {
    width: 80%;
    margin-left: 7.5%;
  }

  color: white;

  .hitters {
    color: #e71d36;
    font-weight: 900;
  }
}

.punchline {
  @include sm {
    font-size: 3.5rem;
  }
  @include md {
    font-size: 6rem;
  }
  @include lg {
    margin-top: 30%;
    font-size: 6rem;
  }
  @include xl {
    font-size: 90px;
  }
  font-weight: 900;
}

.services {
  padding-top: 100px;
}

.powers {
  color: white;
  background-attachment: fixed;
}

.ul {
  @include sm {
    padding-left: 5%;
    padding-top: 1%;
    list-style: none;
    transition: 2s;
    .li {
      padding-left: 2.5%;
      padding: -20px 0;
      padding: 6px;
      font-size: 3.5rem;
      font-weight: 800;

      border-bottom: solid 1px white;
    }
  }
  @include md {
    padding-left: 5%;
    padding-top: 1%;
    list-style: none;
    transition: 2s;
    .li {
      padding-left: 2.5%;
      padding: -20px 0;
      padding: 6px;
      font-size: 5rem;
      font-weight: 800;

      border-bottom: solid 1px white;
    }
  }

  @include xl {
    padding-left: 5%;
    padding-top: 1%;
    list-style: none;
    transition: 2s;
    .li {
      padding-left: 2.5%;
      padding: -20px 0;
      padding: 6px;
      font-size: 100px;
      font-weight: 800;

      border-bottom: solid 1px white;
    }
  }
}

.revolution {
  margin-top: -10px;
}

.thenumericrevolution {
  margin-left: 6%;
  padding-top: 250px;

  h2 {
    @include sm {
      margin-top: 100px;
      font-size: 3rem;
    }
    @include xl {
      font-size: 65px;
    }
    color: white;

    font-weight: 900;

    span {
      font-weight: 900;

      .numrev {
        color: #befbff;
      }
      .hitters {
        color: #e71d36 !important;
      }
    }
  }
}

.business {
  margin-top: -20px;
  height: 150vh;
  background: linear-gradient(
    180deg,
    rgba(83, 185, 198, 1) 0%,
    rgba(231, 29, 54, 1) 10%,
    rgba(231, 29, 54, 1) 100%
  );
}

.business__texts {
  padding-top: 100px;
  margin-left: 6%;
  font-size: 60px;

  h2 {
    color: white;
    font-size: 70px;
    font-weight: 900;

    span {
      font-weight: 900;
    }
  }
}

.hitters {
  color: #e71d36;
}

span {
  backface-visibility: hidden;
  .smoke {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: crack1 2.5s linear forwards;
  }
  & .smoke:nth-child(even) {
    animation: crack1 2.5s linear forwards;
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

li {
  list-style: none;
  margin: 0 60px;

  .contact__button {
    position: relative;
    width: 30vw;
    .contactme {
      position: absolute;
      justify-content: center;
      text-align: center;
      margin: 100px 200px;

      color: #fff;
      font-weight: 600;
      background: #f15946;
      padding: 16px 24px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #fff;
    }
  }

  a {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
  }
}

.buttons {
  display: block;
}

.contact-me {
  font-size: 3rem;
}

.10x {
  padding-left: 10px;
}

.button {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  padding-top: 10%;
  h2 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    transition: all 200ms;
    &:hover {
      color: rgba(255, 255, 255, 1);
      transform: scale(1.1) translateX(2px);

      cursor: pointer;
    }
    span {
      background-image: linear-gradient(
        transparent calc(65% - 5px),
        darken(#f15946, 5%) 5px
      );
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      transition: 0.5s ease;
    }

    &:hover {
      span {
        background-size: 100%;
      }
    }
  }
}
