.about {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
  h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 4em;
    font-weight: 900;
    line-height: 0.9;
  }
}

.about__imageWrapper {
  flex: 0.5;
  height: 100vh;
  overflow-y: hidden;
}

.about__image {
  background: url(../images/me.jpg) center / cover;
  width: 50vw;
  height: 100vh;
  object-fit: contain;
  position: fixed;
}

.about__section {
  flex: 0.5;
  padding: 2em;
}

.about__handle {
  width: 300px;
  position: relative;
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-line: overline;
  line-height: 30px;
  letter-spacing: 0.3em;
  overflow: hidden;
}

.about__textContainer {
  padding: 2em 4em;
}

.about__title {
  padding-top: 40px;
}

.about__body {
  max-height: 100vh;
}

.about__firstletter {
  font-size: 50px;
}

span {
  font-weight: 700;
}
